<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlightQuery.Properties.Settings.FlightsConnectionString"
            connectionString="data source=D:\GitHub\FlightQuery\FlightQuery\bin\x86\Debug\Flights.sqlite3"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
